$pink: #F9BDBD;
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Montserrat:wght@400;600;700;800&family=Nunito:wght@400;600;700;800&display=swap');
$light-grey: #2222221A;
$grey: #3E3F43;
$grey-title: #313235;
$dark-grey: rgba(34, 34, 34, 0.75);
$orange: #DAA520;


.page {
  position: relative;
  margin: 0 auto;
  max-width: 1152px;
  border: 1px solid red;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;

}
ul {
    list-style: none;
}
.header {
  position: relative;
  &__decor {
    position: absolute;
    width: 370px;
    height: 800px;
    top: 0;
    right: 0;
    background-color: $pink;
    border-bottom-left-radius: 110px;
    border: 1px solid black;

    z-index: -1;
  }
  &__image {
    margin: 0;
    right: 0;

  }
}
.container {
  margin: 0 0 85px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 737px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 192px;
  &__img {
    margin-right: 8px;
  }
  &__text {
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    letter-spacing: .25em;
    color: $grey;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
    padding-left: 0;
    max-width: 435px;
    &_item {
      margin: 0;
      list-style: none;
    }
    &_link {
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: $dark-grey;
    }
    &_link:hover {
      font-weight: 800;
      color:$orange;

    }

  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 0;
  padding-left: 52px;
  &_about-section {
    margin-top: 120px;
    border: 1px solid red;
  }
}

.header__content {
  margin: 0;
  margin-top: 52px;
  &_subtitle {
    margin: 0;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 49px;
    font-weight: 400;
    color: $grey;
    &_bold {
      font-weight: 700;
    }
  }
  &_title {
    margin: 0 0 16px 0;
    font-size: 72px;
    font-weight: 700;
    line-height: 98px;
    color: $grey-title;
  }
  &_button {
    width: 175px;
    height: 50px;
    background-color: #DAA520;
    color: white;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }
}

.title {
  margin: 0;
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
  color: $light-grey;
}
.subtitle {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  color: #3E3F43;
}
.description {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  color: #3E3F43;
  &_bold {
    font-weight: 800;
  }
}
.sub-description {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #000;
}

.about {
  &__description {
    border: 1px solid red;
  }
}

