.page {
  position: relative;
  margin: 0 auto;
  max-width: 1152px;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}
.subtitle {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  color: #3E3F43;
}
.title {
  margin: 0;
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
  color: #C4C4C4;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 0;
       column-gap: 0;
  padding-left: 102px;
}
.button {
  width: 175px;
  height: 50px;
  background-color: #DAA520;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.button_hit {
  margin: 0 auto;
  display: block;
  width: 212px;
}
.about__container {
  margin: 0 100px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__container_2 {
  margin-right: 0;
  margin-bottom: 120px;
}
.about__figure {
  margin: 0;
  width: 278px;
  height: 388px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #F7DEA6;
  z-index: -1;
}
.about__image {
  position: absolute;
  bottom: 0;
  right: 0;
}
.about__image-2 {
  margin-left: 112px;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 238px;
  height: 177px;
}
.card__icon {
  margin-bottom: 24px;
}
.card__number {
  position: absolute;
  margin: 0;
  top: 18.5px;
  left: 17px;
  font-size: 96px;
  font-weight: 600;
  line-height: 131px;
  color: rgba(249, 189, 189, 0.2509803922);
}
.card2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 280px;
  height: 400px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.card2_button {
  position: absolute;
  margin: 0;
  bottom: 24px;
  right: 16px;
  width: 123px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #3E3F43;
  background-color: transparent;
}
.card2:first-of-type {
  justify-content: flex-start;
}
.card2_description {
  position: absolute;
  margin: 0;
  top: 24px;
  left: 16px;
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
  color: #3E3F43;
}
.card2_img {
  -o-object-fit: none;
     object-fit: none;
  margin: 0;
}
.card2_theme_blue {
  background-color: #A8DCEC;
}
.card2_theme_pink {
  background-color: #F9BDBD;
}
.card2_theme_yellow {
  background-color: #F7DEA6;
}
.cards-container {
  margin: 64px 100px 64px;
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.cards2-container {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 56px;
       column-gap: 56px;
  row-gap: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 120px;
  width: 952px;
}
.container {
  margin: 0 0 85px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 737px;
}
.container_fig-image {
  position: relative;
  margin: 0;
  margin-right: 78px;
  min-width: 426px;
}
.copyright {
  position: absolute;
  margin: 0;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #8D8D8D;
}
.description {
  margin: 0;
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  color: #3E3F43;
}
.description_bold {
  font-weight: 800;
}

.header {
  position: relative;
  min-height: 920px;
}
.header__content {
  margin: 0;
  margin-top: 52px;
}
.header__content_subtitle_bold {
  font-weight: 700;
}
.header__content_subtitle {
  margin: 0;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 49px;
  font-weight: 400;
  color: #3E3F43;
}
.header__content_title {
  margin: 0 0 16px 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 98px;
  color: #313235;
}
.header__decor {
  position: absolute;
  width: 370px;
  height: 800px;
  top: 0;
  right: 0;
  background-color: #F9BDBD;
  border-bottom-left-radius: 110px;
  border: 1px solid black;
  z-index: -1;
}
.header__image {
  margin: 0;
  right: 0;
}
.how-it-works {
  margin-bottom: 120px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 192px;
}
.logo__img {
  margin-right: 8px;
}
.logo__text {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  letter-spacing: 0.25em;
  color: #3E3F43;
}
.logo_position_footer {
  margin-bottom: -22px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 48px;
       column-gap: 48px;
  padding-left: 0;
  max-width: 435px;
}
.nav__list_item {
  margin: 0;
  list-style: none;
}
.nav__list_link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
}
.nav__list_link:hover {
  font-weight: 800;
  color: #DAA520;
}
.sub-description {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #000;
}
.sub-description_position_hit {
  font-weight: 700;
}
.footer {
  margin: 0;
  position: relative;
  display: flex;
  height: 455px;
}
.footer__background-1 {
  margin: 0;
  top: 0;
  right: 0;
  background-image: url(../img/footer-image-start.png);
  background-repeat: no-repeat;
  width: 644px;
}
.footer__background-2 {
  display: inline;
  background-image: url(../img/footer-image.png);
  background-repeat: no-repeat;
  width: 508px;
}
.footer__column {
  justify-content: flex-start;
  margin: 0;
}
.footer__columns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 708px;
  margin: 0;
  top: 232px;
  right: 337px;
}
.footer__line {
  position: absolute;
  width: 708px;
  height: 1px;
  top: 208px;
  right: 336px;
  background-color: #C4C4C4;
}
.footer__link {
  text-decoration: none;
  color: #8D8D8D;
}
.footer__logo-link {
  text-decoration: none;
  color: #3E3F43;
}
.footer__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #333;
}

